{% extends "modelo.html" %}
{% block conteudo %}
<h1>Editar Termo</h1>

<form action="{{ url_for('atualizar_termo')}}" method="post">
<input type="hidden" name="termo_id" value="{{ termo_id }}">

<div class="mb-3">
<label for="termo" class="form-label">Termo</label>
<input class="form-control" id="termo" name="termo" aria-describedby="emailHelp" value="{{ termo }}">
<div id="termoHelp" class="form-text">Termo para ser alterado.</div>
</div>
<div class="mb-3">
<label for="definicao" class="form-label">Definição</label>
<textarea class="form-control" id="definicao" name="definicao" rows="3">{{ definicao }}</textarea>
</div>
<button type="submit" class="btn btn-primary">Alterar</button>
</form>

{% endblock %}